body{
    color:black
}

h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}

.cajaGrande{
    width: 30%;
    height: 200px;
    border-style: solid;
    border-color: gray; 
    display: inline-block;
}

.cajaMorada{
    display: flex;
}

.cajaNaranja{
    width: 70%;
    height: 40px;
}

.cajaAmarilla{
    width: 25%;
    height: 45px;
    text-align: right;
}

.cajaAzulOscuro{
    display: flex;
}

.cajaAzul{
    width: 40%;
    height: 100px ;
}

.cajaVerde{
    width: 48%;
    height: 100px;
}

.cajaRoja{
    width: 98%;
    height: 45px;
    align-items: left;
    text-align: right;
}

.icono1{
    font-size: 30px;
    color: rgb(17, 73, 73);
    padding:  5px 5px 0px 10px;
}

.diseño_boton{
    width: 30%;
    height: 30px;
    background-color: orange;
    color: white;
    border-color: orange;
    margin: 20px;

}

.derecha{
    display: flex;
    justify-content: right;
    align-items: right;
}

#menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

#menu li a{
    display: block;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    color: white;
    margin: 0px 20px 30px 0;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
}

#menu a:hover{
    background-color: orangered;
}

.formulario{
    width: 50%;
    background-color: white;
    text-align: left;
    padding: 20px 0px 20px 100px;
}

.diseñoLabel{
    display: inline-block;
    width: 40%;
}

.diseñoInput{
    display: inline-block;
    width: 50%;
}

.botonFormulario{
    width: 200px;
    height: 40px;
    background-color: orange;
    color: white;
    border-style: solid;
    border-color: orangered;
}

.botonFormulario:hover{
    background-color: orangered;
    cursor: pointer;
}

.estiloTabla{
    width: 70%;
    border-collapse: collapse;
    border: 0.3px solid black;
}

table, th, td{
    border: 0.3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14 px;
}

th{
    background-color: grey;
}

.color1{
    background-color: blueviolet;
}

.color2{
    background-color: cornflowerblue;
}

.color3{
    background-color: khaki;
}

.alinear_logo{
    text-align: center;
}

.row{
    padding-bottom: 30px;
}

.btn{
    width: 200px;
}

@media(max-width: 640px){
    header{
        text-align: center;
    }

    #menu ul{
        flex-direction: column;
        align-items: center;
    }

    #menu li a{
        width: 300px;
        height: 40px;
    }
    
    .formulario{
        width: 90%;
        text-align: left;
        padding: 0px 0px 0px 0px;
    }
    .botonFormulario{
        width: 30%;
        height: 30%;
    }

    .cajaGrande{
        width: 97%;
        display: block;
        margin-bottom: 3px;
    }
}

@media (min-width: 640px) and (max-width: 1280px) {
    header{
        text-align: center;
    }
    
    .formulario{
        width: 90%;
        text-align: left;
        padding: 0px 0px 0px 0px;
    }   
    
}